.top-title {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: max-content;
}

.top2 {
    display: flex;
    justify-content: end;
    margin-right: 10px;
}

.grid-border {
    color: rgb(0, 0, 0);
    font-size: 12pt;
}

.col-border-header {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(184, 184, 184);
    background-color:beige;
    font-size: 13pt;
    font-weight: 600;
    font-family: 'lato';
}

.col-border {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(184, 184, 184);
    font-size: 12pt;
    font-weight: 300;
}

.my-grades-card {
    height: auto;
    border-radius: 10px;
    margin: 20px;
    box-shadow: none;
    border-color: rgb(198, 198, 198);
    border-style: solid;
    border-width: 1px;
}

.my-grades-text {
    font-family: poppins;
    width: 50%;
    font-weight: bolder;
    font-size: 22pt;
    color: black;
}



/*MOBILE*/

.m-top-title {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: max-content;
}

.m-top2 {
    display: flex;
    justify-content: end;
    margin-right: 5px;
}

.m-grid-border {
    color: rgb(0, 0, 0);
    font-size: 10pt;
}

.m-col-border-header {
    border-width: 1px;
    border-style: solid;
    font-size: 10pt;
    border-color: rgb(184, 184, 184);
    background-color:beige;
}

.m-col-border {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(184, 184, 184);
}

.m-grades-card {
    height: auto;
    border-radius: 10px;
    box-shadow: none;
    border-color: rgb(198, 198, 198);
    border-style: solid;
    border-width: 1px;
}

.m-grades-text {
    font-family: poppins;
    font-weight: bolder;
    font-size: 17pt;
    color: black;
}

