.grid-border {
    text-align: center;
    color: rgb(0, 0, 0);
    align-items: center;
    justify-items: center;
    font-size: 12pt;
}

.col-border-header {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(184, 184, 184);
    background-color:beige;
}

.col-border {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(184, 184, 184);
}

.my-grades-card {
    height: 85%;
    border-radius: 10px;
}

.my-grades-text {
    font-family: poppins;
    width: 50%;
    font-weight: bolder;
    font-size: 22pt;
    color: black;
}



/*MOBILE*/
.grid-border {
    text-align: center;
    color: rgb(0, 0, 0);
    align-items: center;
    justify-items: center;
    font-size: 10pt;
}

.col-border-header {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(184, 184, 184);
    background-color:beige;
}

.col-border {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(184, 184, 184);
}

.m-grades-card {
    height: 85%;
    border-radius: 10px;
}

.m-grades-text {
    font-family: poppins;
    font-weight: bolder;
    font-size: 17pt;
    color: black;
}

