.display-flex {
    display: flex;
    width: 100%;
    align-items: center;
}

.add-pos {
    display: flex;
    justify-content: end;
    width: 87%;
    margin-right: 2%;
}

.att-margin {
    margin-left: 20px;
}

.activity-card-center {
    width: 100%;
    justify-content: center;
    align-items: center;
}

.add-btn-properties {
    font-weight: lighter;
}

.header-properties {
    border-radius: 10px;
    border-color: rgb(198, 198, 198);
    border-style: solid;
    border-width: 1px;
    width: 95%;
    box-shadow: none;
    height: auto;
}

.activity-card {
    height: auto;
    border-radius: 10px;
    border-color: rgb(198, 198, 198);
    border-style: solid;
    border-width: 1px;
    box-shadow: none;
}

.my-act-title {
    font-family: poppins;
    width: 50%;
    font-weight: bolder;
    font-size: 22pt;
    color: black;
}


/*MOBILE*/


.m-add-pos {
    display: flex;
    justify-content: end;
    width: 50%;
    margin-right: 2%;
}

.m-add-btn-properties {
    font-weight: lighter;
}

.m-header-properties {
    border-radius: 10px;
    border-color: rgb(198, 198, 198);
    border-style: solid;
    border-width: 1px;
    width: 95%;
    box-shadow: none;
    height: auto;
}

.m-activity-card {
    border-radius: 10px;
    border-color: rgb(198, 198, 198);
    border-style: solid;
    border-width: 1px;
    width: 95%;
    box-shadow: none;
    height: auto;
    padding-bottom: 10px;
}

.m-my-act-title {
    font-family: poppins;
    font-weight: bolder;
    font-size: 17pt;
    color: black;
}

.m-due {
    display: block;
    margin-top: 5px;
    margin-left: 15px;
}