.div-sz {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80%;
}

.add-activity-card {
    display: flex;
    justify-content: center;
    width: 85%;
    margin: 20px;
    border-radius: 10px;
    box-shadow: none !important;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(198, 198, 198);
    ;
}

.activity-label {
    display: flex;
    justify-self: start;
    margin: 10px;
    align-items: center;
}

.my-activity-text {
    font-weight: bold;
    font-size: 20pt;
    font-family: poppins;
    color: black;
}

.back-button-size {
    height: 50px;
    width: 50px;
    color: black;
}

.cards {
    margin-top: 80px;
    margin-left: 80px;
    display: grid;
    grid-template-columns: 30% 68%;
    grid-template-rows: max-content;
}

.cancel-button {
    --color: #757575;
    --border-color: #757575;
    width: max-content;
    height: 40px;
    --border-radius: 10px;
}

.submit-button {
    --background: #000000;
    width: max-content;
    height: 40px;
    --border-radius: 10px;
}

.submit-button-pos {
    display: flex;
    justify-content: end;
}

.enter-task {
    display: grid;
    grid-template-columns: 40% 50%;
    width: 100%;
    justify-content: center;
}

.center {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
}

ion-datetime {
    --background: #ffffff;
    --background-rgb: 255, 241, 242;

    border-radius: 10px;
}

/*MOBILE*/

.m-activity-label {
    display: flex;
    width: 100%;
    margin: 10px;
    align-items: center;
}

.m-add-activity-card {
    display: block;
    width: auto;
    border-radius: 10px;
    box-shadow: none !important;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(198, 198, 198);
}

.m-submit-button-pos {
    display: flex;
    justify-content: end;
}

.m-enter-task-card {
    display: block;
    justify-content: center;
}

.m-enter-task {
    justify-content: center;
    height: 70%;
}

.m-activity-text {
    font-weight: bold;
    font-size: 15pt;
    font-family: poppins;
    color: black;
}
