.toolbar-h {
    --min-height: 95px;
}

.attendance-item {
    display: grid;
    grid-template-columns: 30% 30% auto;
    grid-template-rows: 100%;
    align-items: center;
}

.item-div {
    width: 100%;
}

.lrn-grid {
    grid-column: 1;
    margin-right: 5px;
}

.name-grid {
    grid-column: 2;
}

.time-grid {
    grid-column: 3;
    text-align: right;
}

.title-grade-date {
    display: flex;
    justify-content: space-between;
    width: 98%;
    margin-right: 20px;
    align-items: center;
}

.grade-date {
    display: flex;
    margin-right: 5px;
    align-items: center;
}

.sel-props {
    width: 400px;
}

.sel-date-props {
    width: 300px;
}

.m-select-marg {
    margin-left: 10px;
    margin-right: 10px;
}

.card-no-border {
    box-shadow: none;
}