.mainContent {
    background-color: #ffffff;
    width: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.employeeItem {

    --border-radius: 10px;
    --padding-start: 1rem;
    --padding-end: 1rem;
    --padding-top: 1rem;
    --padding-bottom: 1rem;
    padding: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    min-height: 5rem;

}

.employeeImg {

    width: 3rem;
    border-radius: 10px;

}