ion-button {
    --background-hover: var(--background);
}

.header-display {
    display: grid;
    height: 100%;
    grid-template-columns: 50% 45% 5%;
    grid-template-rows: max-content;
}

.title-and-logo {
    display: flex;
    align-items: center;
    width: 700px;
}

.logo-btn-size {
    width: 90px;
}

.title-label {
    font-family: 'poppins';
    font-weight: 600;
    font-size: 14pt;
}

.tabs-display {
    display: flex;
    align-items: center;
    justify-content: end;

    ion-buttons {
        --background-hover: var(--background);
    }
}

.tab-btn {
    width: 100px;
    height: 50px;
    font-size: medium;

    --background-hover: var(--background);

}

.profile-btn-pos {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 10px;
}

/*MOBILE HEADER CSS*/

.m-header-display {
    display: block;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
}

.top-head {
    display: flex;
}


.m-title-and-logo {
    display: flex;
    align-items: center;
    width: 90%;
}

.m-logo-btn-size {
    width: 60px;
    height: 60px;
}

.m-title-label {
    font-family: 'poppins';
    font-weight: 600;
    font-size: 14pt;
    margin: none;
}

.m-tabs-display {
    display: flex;
    justify-content: start;
    align-items: center;
}

.m-tab-btn {
    width: 200px;
    font-size: 10pt;
}

.m-profile-btn-size {
    --height: 20px;
}