.top-placement {
    display: flex;
}

.my-profile-top {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 50%;

}

.font-subj {
    font-size: 10pt;
    font-family: 'Lato';
}

.logout {
    display: flex;
    justify-content: end;
    width: 50%;
}

.logout-effect {
    --background-hover: transparent;
    --ripple-color: transparent;
}

.my-profile-text {
    justify-content: center;
    font-weight: bold;
    font-size: 20pt;
    font-family: poppins;
    color: black;

}

.my-profile-card {
    display: block;
    height: 95%;
    border-radius: 10px;
    box-shadow: none !important;
}

.avatar-center {
    display: flex;
    justify-content: center;
    align-content: center;
}

.center-creds {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.avatar {
    height: 150px;
    width: 150px;
    --border-radius: 5px;
}

.card-border {
    border-radius: 10px;
    height: 345px;
    width: 80%;
}

.cards-column {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: max-content;
    width: 60%;
    justify-content: center;
    align-items: center;
}

.content-center {
    display: flexbox;
    margin: 0;
}

.but-col {
    display: flex;
    width: 90%;
    align-items: center;
}

.buttons-appearance {
    display: flex;
    justify-content: start;
    --border-radius: 10px;
    --background: #ffffff;
    --color: #000;
    --border-color: #c8c8c8;
    --border-width: 1px;
    --border-style: solid;
    --box-shadow: none;
    --background-hover: #000063;
    width: 98%;
    height: 80px;
    font-family: 'poppins';
    font-size: larger;
    font-weight: 400;
}

.buttons-label {
    font-family: 'poppins';
}

.icon-size {
    font-size: 2rem;
}

.qr-code-modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.qr-code-img {
    width: 200px;
    /* Adjust the size as needed */
    height: 200px;
    /* Adjust the size as needed */
}

.modal-css {
    display: block;
    margin: 10px
}

/*MOBILE*/

.top-placement {
    display: flex;
}

.m-logout {
    display: flex;
    justify-content: end;
}

.m-header {
    display: flex;
    width: 100%;
    align-items: center;
}

.logout-effect {
    --background-hover: transparent;
    --ripple-color: transparent;
}

.m-profile-text {
    font-weight: bold;
    font-size: 15pt;
    font-family: poppins;
    color: black;
}

.m-profile {
    font-weight: bold;
    font-size: 14pt;
    font-family: lato;
    color: black;
}

.m-profile-txt {
    font-size: 10pt;
    font-family: lato;
    color: black;
}

.my-profile-card {
    display: block;
    height: 95%;
    border-radius: 10px;
    box-shadow: none !important;
}

.m-avatar-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.m-avatar {
    height: 120px;
    width: 120px;
    --border-radius: 5px;
}

.m-cards-column {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: max-content;
    width: 95%;
    justify-content: center;
    align-items: center;
}

.m-card-border {
    border-radius: 10px;
    width: 100%;
    box-shadow: none;
}

.m-but-col {
    display: flex;
    width: 80%;
    align-items: center;
}

.m-icon-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.m-button-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.m-buttons-appearance {
    align-items: center;
    justify-content: start;
    --border-radius: 10px;
    --background: #ffffff;
    --color: #000;
    --border-color: #979797;
    --border-width: 1px;
    --border-style: solid;
    --box-shadow: none;
    width: 95%;
    height: 100px;
    font-family: 'poppins';
    font-size: medium;
    font-weight: 400;
}

.buttons-label {
    font-family: 'poppins';
}

.m-icon-size {
    font-size: 30pt;
}

.block-display {
    display: block;
    width: 50%;
    justify-content:center ;
}

.close-but {
    display: flex;
    justify-content: end;
}