.my-att-title {
    font-family: poppins;
    width: 50%;
    font-weight: bolder;
    font-size: 22pt;
    color: black;
}


/*MOBILE*/
.m-my-att-title {
    font-family: poppins;
    font-weight: bolder;
    font-size: 18pt;
    color: black;
}
