.my-att-title {
    font-family: poppins;
    width: 50%;
    font-weight: bolder;
    font-size: 20pt;
    color: black;
}

.my-att-card {
    box-shadow: inset;
    height: auto;
    border-radius: 20px;
}

.att-label {
    font-family: "Lato";
}

.cal-margin {
    margin-left: 20px;
}

.att-item-size {
    width: 100%;
}

/*MOBILE*/
.m-my-att-title {
    font-family: poppins;
    font-weight: bolder;
    font-size: 17pt;
    color: black;
}

.m-my-att-card {
    box-shadow: inset;
    border-radius: 15px;
}

.m-att-item-size {
    display: block;
    width: 100%;
}

.m-att-label {
    font-size: small;
}

.cards-disp-log {
    display: block;
    justify-content: center;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: none;
    border-color: rgb(198, 198, 198);
    border-style: solid;
    border-width: 1px;
}

.m-cards-disp-log {
    display: block;
    border-radius: 10px;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: none;
    border-color: rgb(198, 198, 198);
    border-style: solid;
    border-width: 1px;
}

.head-log {
    font-weight: bold;
    font-size: 13pt;
    color: black;
}

.body-log {
    font-size: 12pt;
    color: black;
}

.head-custom-row-spacing {
    align-items: center;
    background-color:azure;
}

.custom-row-spacing {
    align-items: center;
    border-color: rgb(200, 200, 200);
    border-width: .01em;
    border-style: solid;
}

.custom-col-spacing {
    margin-right: -25px;
}

.m-head-log {
    font-weight: bold;
    font-size: 10pt;
    color: black;
}

.m-body-log {
    font-size: 10pt;
    color: black;
}