.home-background {
    --background: url("/src/imgs/bg.jpg") 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    background-size: 100%;
}

.custom-image {
    height: 400px;
    overflow: hidden;
    position: relative;
}

.homepage-card {
    display: block;
    justify-content: center;
    height: auto;
    border-radius: 10px;
}

.homepage-card-position {
    align-items: center;
    margin-top: 250px;
}


/*FOR SCROLLABLE CARDS*/
.scrollable-container-home {
    width: 100%;
    overflow: auto; 
    white-space: nowrap;
    display: flex;
    padding-bottom: 20px; 
    scroll-behavior: smooth;
    scrollbar-width: 5px;
    animation: scroll 15s linear infinite;    
}

/* Add this to your CSS stylesheet */
.news-slider {
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    scroll-behavior: smooth;
    scrollbar-width: thin; /* Display scrollbar on browsers that support it */
}

.news-items {
    display: inline-flex;
    transition: transform 0.5s ease-in-out;
    padding-bottom: 5px; 
}

.news-card img {
    margin: 10px;
    width: 100%;
    height: auto;
}

.news-card {
    flex: 0 0 calc(33.33% - 10px); /* 33.33% width for three images with 10px margin */
    margin-right: 20px; /* Add margin between cards */
    transition: transform 0.3s;
    scroll-snap-align: center;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.m-news-card img {
    margin: 10px;
    width: 100%;
    height: auto;
}

.m-news-card {
    flex: 0 0 calc(100%); 
    margin-right: 3px; /* Add margin between cards */
    transition: transform 0.3s;
    scroll-snap-align: center;
}

.news-card:nth-child(2n) {
    margin-right: 0;
}

.scrollable-parent {
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: 5px;
}

/* Webkit-based browsers scrollbar */
.scrollable-parent::-webkit-scrollbar {
    display: none;
}

.scrollable-parent::-webkit-scrollbar-track {
    background: #f1f1f1; /* Track color */
}

.scrollable-parent::-webkit-scrollbar-thumb {
    background: #888; /* Thumb color */
}

.scrollable-parent::-webkit-scrollbar-thumb:hover {
    background: #555; /* Thumb color on hover */
}


::-scrollbar {
    width: 10px; /* Width of the scrollbar */
}

::-scrollbar-track {
    background: #f1f1f1; /* Track color */
    border-radius: 5px; /* Rounded ends */
    margin: 5px; /* Margin */
}

::-scrollbar-thumb {
    background: #9a969a; /* Thumb color */
    border-radius: 5px; /* Rounded ends */
    margin: 5px; /* Margin */
}

::-scrollbar-thumb:hover {
    background: rgb(76, 76, 76)444; /* Thumb color on hover */
    border-radius: 5px; /* Rounded ends */
    margin: 5px; /* Margin */
}



/*ANNOUNCEMENT*/
.anncm-card {
    box-shadow: none !important;
}

/*CALENDAR*/

.calendar-pos {
    margin-top: 250px;
}

.calendar-card {
    justify-content: start;
    border-radius: 10px;
}

.cal-cont {
    margin: 20px;
}

.events {
    overflow-y: auto;
    max-height: 200px;
}


.p {
    font-size: x-large;
    font-family: poppins;
    font-weight: bold;
    color: black;
    margin-left: 10px;
}

.recent-news {
    height: auto;
}

ion-col {
    display: flex;
}

.mission {
    display: grid;
    height: 100%;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: max-content;
}

.mission-card {
    border-radius: 10px;
    height: 100%;
    background-color: black;
    border-width: 1px;
    border-color: grey;
    border-style: solid;
}

.mission-card-header {
    font-size: large;
    font-family: poppins;
    font-weight: 500;
    color: white;
}

.p1 {
    font-size: 11pt;
    color: white;
    text-align: justify;
}


.footer-toolbar {
    display: block;
    align-items: center;
    justify-content: start;
    background-color: #000;

    .s-font {
        font-size: x-large;
        font-family: poppins;
        font-weight: bold;
        margin-left: 10px;
        color: white;
    }

    .f-font {
        font-size: x-large;
        font-family: poppins;
        font-weight: 400;
        margin-left: 10px;
        color: white;
    }

    .a-font {
        font-size: medium;
        font-family: poppins;
        font-weight: 300;
        color: white;
    }
}

.footer1 {
    margin-top: 20px;
}

.about {
    padding: 10px;
}

.logo-size1 {
    display: flex;
    width: 350px;
}

.logo-w-name {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.allrights {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}

/*MOBILE CSS*/

.m-display-block {
    display: block;
}

.m-homepage-card {
    display: block;
    justify-content: center;
    border-radius: 10px;
}

.m-homepage-card-position {
    align-items: center;
}

.m-calendar-pos {
    display: block;
    justify-content: end;
}

.m-calendar-card {
    display: block;
    justify-content: start;
    width: 93%;
    height: 50%;
    border-radius: 10px;
}

.m-p {
    font-size: large;
    font-family: poppins;
    font-weight: bold;
    color: black;
    margin-left: 10px;
}

.m-recent-news {
    height: auto;
}

.m-mission-card {
    border-radius: 10px;
    height: 100%;
    background-color: black;
    border-width: 1px;
    border-color: grey;
    border-style: solid;
}

.m-mission-card-header {
    font-size: medium;
    font-family: poppins;
    font-weight: 500;
    color: white;
}

.m-p1 {
    font-size: 9pt;
    color: white;
    text-align: justify;
}

.m-footer-toolbar {
    display: block;
    background-color: black;

    .m-s-font {
        font-size: large;
        font-family: poppins;
        font-weight: bold;
        margin-left: 10px;
        color: white;
    }

    .m-f-font {
        font-size: x-large;
        font-family: poppins;
        font-weight: 400;
        margin-left: 10px;
        color: white;
    }

    .m-a-font {
        font-size: small;
        font-family: poppins;
        font-weight: 300;
        color: white;
    }
}

.m-footer1 {
    margin-top: 20px;
}

.m-logo-size1 {
    display: flex;
    width: 250px;
}

.m-logo-w-name {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.m-allrights {
    display: flex;
    align-items: center;
    justify-content: center;
}