.annc-title {
    font-family: poppins;
    width: 50%;
    font-weight: bolder;
    font-size: 18pt;
    color: black;
}

.div-title {
    display: flex;
    width: 100%;
}

.title-pl {
    display: flex;
    width: 100%;
    margin-left: 20px;
}


.create-button {
    width: auto;
    justify-content: end;
    align-items: center;
    margin-right: 30px;
}

.annc-card {
    border-radius: 10px;
    display: block;
}

.ann-deets-size {
    width: 90%;
    border-radius: 20px;
}

.body-display{
    display: block;
    margin: auto;
    width: 90%;
}

.modal-des {
    --border-radius: 20px;
}

.modal-view {
    display: block;
    padding: 20px;
}

.buttons-pos {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

/*card des*/
.title-format {
    font-weight: bold;
    font-size: 14pt;
}

.title-poss {
    width: 50%;

}

.button-pos {
    display: flex;
    justify-content: end;
} 

.m-button-pos {
    display: flex;
    width: 50%;
    justify-content: end;
}

.header-disp {
    display: flex;
    width: 100%;
}

.mobile-display {
    display: block;
}

.m-upload-annc-button {
    display: block;
    margin-left: 20px;
    margin-right: 20px;
}

.annc-add {
    display: flex;
    justify-content: end;
    margin-right: 10px;
}
