.upload-cal-button {
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
}

.display-cal-button {
    margin-left: 20px;
    margin-right: 20px;
}

.event-card {
    border-color: rgb(218, 218, 218);
    border-style: solid;
    border-width: 1px;
    box-shadow: none !important;
}

.custom-date-input {
    background-color: white;
    color: black;
    border-radius: 5px;
    border-color: antiquewhite;
    border-width: 1px;
    padding: 8px;
    font-size: 16px;
    width: 300px;
}

.custom-date-input input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1); /* Invert the color to make it visible on white background */
  }

.event-custom-input {
    width: 350px;
    padding: 12px;
    margin-right: 10px;
}

.desc-custom-input {
    width: 400px;
    padding: 12px;
    margin-right: 10px;
}

.month-year {
    font-family: poppins;
    font-size: 18pt;
}

.m-upload-cal-button {
    display: block;
    margin-left: 20px;
    margin-right: 20px;
}

.m-custom-date-input {
    background-color: white;
    color: black;
    border-radius: 5px;
    border-color: antiquewhite;
    border-width: 1px;
    padding: 8px;
    font-size: 16px;
}

.m-event-custom-input {
    padding: 12px;
    margin-right: 10px;
}

.m-desc-custom-input {
    padding: 12px;
    margin-right: 10px;
}

.m-month-year {
    font-family: poppins;
    font-size: 18pt;
}
  
.m-add-button-pl {
    display: flex;
    justify-content: end;
}

.cal-margin {
    margin-left: 20px;
}

.cal {
    font-family: poppins;
    width: 50%;
    font-weight: bolder;
    font-size: 18pt;
    color: black;
}

.cal-list {
    border-radius: 10px;
}

.list-mrg {
    margin: 10px;
}

