.buttons-pref {
    display: flex;
    justify-content: end;
}

.search-bar {
    display: block;
    width: 55%;
    margin: auto;
}

.search-desc {
    display: flex;
    justify-content: center;
}

.search-desc-size {
    font-size: small;
}

.faculty-add {
    display: flex;
    justify-content: end;
    margin-right: 10px;
}

.faculty-modal {
    margin: 30px;
}

.faculty-modal-des {
    border-radius: 10px;
}

.faculty-card-des {
    margin-left: 10px;
}

.m-modal-props {
    --border-radius: 18px;
}