.card {
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 8px;
    display: inline-block;
    height: 200px;
    width: 150px;
    position: relative;
    margin: 1px;
    margin-left: 12px;
    border-color: rgb(218, 218, 218);
    border-style: solid;
    border-width: 1px;
    box-shadow: none !important;
}

.m-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    display: inline-block;
    height: 150px;
    width: 115px;
    position: relative;
    border-color: rgb(218, 218, 218);
    border-style: solid;
    border-width: 1px;
    box-shadow: none !important;
    margin: 3px;
    margin-left: 10px;
}

.image-container {
    width: 100%;
    height: 100%;
}

img {
    max-height: 100%;
    width: auto;
    object-fit: cover;
}

.trash-button {
    position: absolute;
    top: 10px;
    right: 10px;
}

.div-title-n {
    display: flex;
    width: 100%;
}

.title-pl {
    display: flex;
}

.upload-pl {
    display: block;
    align-items: center;
    justify-content: end;
    width: 60%;
}

.upload-card {
    border-color: rgb(218, 218, 218);
    border-style: solid;
    border-width: 1px;
    box-shadow: none !important;
}

.upload-card-cont {
    display: flex;
    align-items: center;
}

.select-file-text {
    width: 50%;
}

.select-file-but {
    display: flex;
    justify-content: end;
    width: 50%;
}

.input-disp {
    display: none;
}

.news-ttl {
    font-family: poppins;
    width: 50%;
    font-weight: bolder;
    font-size: 18pt;
    color: black;
}

.m-upload-pl {
    display: block;
    align-items: center;
    justify-content: end;
}