.buttons-align {
    display: block;
}

.max-size {
    margin-left: 10px;;
}

.div-card {
    display: block;
    width: 100%;
}

.div-card2 {
    display: block;
    width: 50%;
    justify-content: end;
}

.input-width {
    display: block;
    width: 200px;
}

.submit-button-pref {
    margin: auto;
}

.search-bar-size {
    width: 70%;
    align-items: center;
    justify-content: end;
    border-radius: 10px;
    border-color: gray;
    border-style: solid;
    border-width: 0.01rem;
    --box-shadow: none;
}

.search-bar-desc {
    display: flex;
    justify-content: end;
}

.ttl-col {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    align-items: center;
}
